<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ittaoli.dao.PowerMapper" >
  <resultMap id="BaseResultMap" type="com.ittaoli.entity.Power" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="menu_title" property="menuTitle" jdbcType="VARCHAR" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="menu_address" property="menuAddress" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, menu_title, menu_icon, menu_address, remarks
  </sql>
  <select id="selectByRoleId" resultType="map"  >
    select
    p.id id,
p.menu_title title,
p.menu_icon icon,
p.menu_address url
    from power p inner join role_power rp on p.id = rp.power_id
    where rp.role_id = #{id} order by p.id
  </select>
  <select id="selectAll" resultType="map"  >
    select
    p.id id,
p.menu_title title
    from power p
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from power
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ittaoli.entity.Power" >
    insert into power (id, name, menu_title, 
      menu_icon, menu_address, remarks
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{menuTitle,jdbcType=VARCHAR}, 
      #{menuIcon,jdbcType=VARCHAR}, #{menuAddress,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ittaoli.entity.Power" >
    insert into power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="menuTitle != null" >
        menu_title,
      </if>
      <if test="menuIcon != null" >
        menu_icon,
      </if>
      <if test="menuAddress != null" >
        menu_address,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuTitle != null" >
        #{menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuAddress != null" >
        #{menuAddress,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ittaoli.entity.Power" >
    update power
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuTitle != null" >
        menu_title = #{menuTitle,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null" >
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuAddress != null" >
        menu_address = #{menuAddress,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ittaoli.entity.Power" >
    update power
    set name = #{name,jdbcType=VARCHAR},
      menu_title = #{menuTitle,jdbcType=VARCHAR},
      menu_icon = #{menuIcon,jdbcType=VARCHAR},
      menu_address = #{menuAddress,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>